@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;

  overflow-y: auto; /* Add this to enable smooth scrolling */
  height: 100vh;

}
.canvas{
  background: radial-gradient(#5a47ce, #232323 80%);

}
body {
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
.explore-button{
 z-index: 1000;
}
body {
  margin: 0;
}

.outline-text {
  -webkit-text-stroke: 1px white;
}
/* Add new styles for explore section */
.explore {
  min-height: 100vh; /* Full viewport height for explore section */
  scroll-snap-align: start; /* Optional: For smooth scroll snapping */
}
/* src/styles.css or your main CSS file */
.login-background {
  background-image: url('../images/library.jpg');
  background-size: cover;
  background-position: center;
}
/* Add smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Add these styles to your CSS file */
.book-reader {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.page {
  background-color: white;
  border-radius: 0 2px 2px 0;
  box-shadow: inset -1px 0 5px rgba(0, 0, 0, 0.1);
}

.cover-page {
  background-color: #333;
}

/* Optional: Add page turning animation */
@keyframes pageFlip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}
